p {
  font-family: 'Baloo Tamma 2', cursive;
}

h4 {
  font-family: 'Baloo Tamma 2', cursive;
}

h1,
h2,
h3,
a,
span,
strong {
  font-family: 'Alata', sans-serif;
}

.title {
  font-family: 'Alata', sans-serif;
}

.hover:hover {
  transform: scale(1.3);
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.row {
  flex-direction: row;
}

.decoration-txt {
  color: #ffd571;
  font-family: 'Pacifico', cursive;
  font-size: 1.5rem;
}
